@font-face {
    font-family: 'Instrument-Serif';
    src: url('../fonts/instrument-serif/InstrumentSerif-Regular.ttf');
}
@font-face {
    font-family: 'Instrument-Serif-italic';
    src: url('../fonts/instrument-serif/InstrumentSerif-Italic.ttf');
}

@font-face {
    font-family: 'Instrument-Sans';
    src: url('../fonts/instrument-sans/InstrumentSans-Regular.ttf');
}

@font-face {
    font-family: 'Instrument-Sans-Bold';
    src: url('../fonts/instrument-sans/InstrumentSans-Bold.ttf');
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Instrument-Sans';
    scroll-behavior: smooth;
}
a{
    font-size: 0.84rem;
    text-decoration: none;    
    color: black;     
}

header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.3%;
    background: linear-gradient(#e6f7ec, 60%,transparent);
    z-index: 1;
}
.dropdown-wrapper {
    position: relative;
}
.dropdown-wrapper::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30%;      
    background: transparent;
}

.hover-box {
    position: absolute;
    background-color: white;
    width: 200px;             
    top: 130%;
    padding: 24px;              
    display: flex;                      
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);         
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    pointer-events: none;     
    gap: 20px;           
}
.hover-box hr {
    border: none;
    height: 0.5px;
    background-color: #000000;
    opacity: 30%;
    width: 100%;
}

#hover-1{
    left: -50%;
}
#hover-2{
    left: -60%;
}
#hover-3{
    left: -10%;
}

.hover-get-studypal{
    font: "Instrument-Sans";
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5%;
    background-color: transparent;
}

#buttons-left{
    text-align: left;
}
#buttons-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#buttons-right{
    display: flex;
    justify-content: flex-end;
}

#buttons-center > .dropdown-wrapper > button{
    font-family: 'Instrument-Sans';
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-right a{
    font-family: 'Instrument-Sans';
    font-weight: bold;
    background-color: #85F366;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 6%;
    padding-right: 6%;
   display: flex;
   align-items: center;
}

.hover-links {
    display: flex;
    align-items: center;
    width: 100%;
}

.hover-links img {
    width: 100%;
    max-width: 20px;
    justify-self: end;
    display: block;
}


.dropdown-wrapper:hover .hover-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s ease;
    pointer-events: auto;
}

#up-button{
    position: fixed;
    bottom: 4%;
    right: 2%;
    background-color: white;
    padding: 1%;
    border-radius: 30px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}