@font-face {
    font-family: 'Instrument-Serif';
    src: url('../fonts/instrument-serif/InstrumentSerif-Regular.ttf');
}
@font-face {
    font-family: 'Instrument-Serif-italic';
    src: url('../fonts/instrument-serif/InstrumentSerif-Italic.ttf');
}

@font-face {
    font-family: 'Instrument-Sans';
    src: url('../fonts/instrument-sans/InstrumentSans-Regular.ttf');
}

@font-face {
    font-family: 'Instrument-Sans-Bold';
    src: url('../fonts/instrument-sans/InstrumentSans-Bold.ttf');
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Instrument-Sans';
}


#first-page{
    background-image: url('../images/green_bg.jpg');
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.3%;
    background: linear-gradient(#e6f7ec, 60%,transparent);
    z-index: 1;
}


header div:nth-child(1){
    text-align: left;
}
header div:nth-child(2){
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    
}
#buttons-center button{
    font-family: 'Instrument-Sans';
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div:nth-child(3){
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

#buttons-right button{
    font-family: 'Instrument-Sans';
    font-weight: bold;
    background-color: #85F366;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 6%;
    padding-right: 6%;
}

.body-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

#intro, #fourth-page-text{
    width: 25%;
    padding: 7%;
    
}

.text{
    line-height: 1;
    font-size: 1rem;
    margin: 0;
}
.main-text{
   font-size:  clamp(2rem, 6vw, 4rem);
   font-family: 'Instrument-Serif';
   
}

#intro .main-text {
    font-size:  clamp(2rem, 6vw, 10rem);
}

.highlight{
    font-family: 'Instrument-Serif-italic';
}

.highlight-underline{
    text-decoration: underline solid 2px;
    text-underline-offset: 6px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}


.get-study-pal {
    position: relative;
    border: none;
    z-index: 0;
    background-color: transparent;
    width: 100%;  
    text-align: right;
    margin-left: 5%;
}

.cat-logo{
    position: relative;
    z-index: 2;
    margin-right: 35%;
}


.get-study-pal-text{
font-family: 'Instrument-Sans';
font-weight: bold;
  position: absolute;
  right: 28%;
  background-color: #85F366;
  color: black;
  font-size:0.9rem;
  padding: 4% 4%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 76%;
  z-index: 1;
  box-sizing: border-box;
}

#second-page{
    background-image: url('../images/third-layer.png');
    background-size: cover;
    background-position: center;
}

#second-page-text{
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#second-page-text .main-text{
    margin: 0;
}

#card-catalog{
    width: 70%;
    padding-bottom: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.card-body{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #D4F6E8; 
}

.card-body > div{
    flex: 1;
}

.card-body > .SITE-title {
    flex: 0.28;
}
.SITE-title{
    font-size: 3rem;
    font-family: "Instrument-Serif";
    padding-left: 5%;
    padding-right: 5%;
}

.card-body > .about-body {
    flex: 0.6;
}

.about-body{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.1rem;
}

.card-body > .SITE-link-to-page {
    flex: 0.3;
}

.SITE-link-to-page{
    text-align: right;
    padding-bottom: 10%;
    padding-right: 1%;
}


.link_text{
    cursor: pointer;
}

#third-page{
    width: 100%;
    height: 160%;
    background-image: url('../images/fourth-layer.png');
    background-size: cover;
    background-position: center bottom;
}

#third-page-text{
    width: 25%;
    padding-bottom: 5%;
}

#third-page img{
    padding: 2%;
}

#text-body{
    width: 50%;
    margin: 0 auto;
}

#See-how{
    padding-top: 15%;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

#info-text{
    width: 60%;
    text-align: left;
    font-size: 1.5rem;
}

.buttons-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#fourth-page{
    width: 100%;
    height: 100%;
    background-image: url('../images/Sixth-layer-green.png');
    background-size: cover;
    background-position: center;
}


#last-page{
    background-image: url('../images/footer-green-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;    
}


#last-page-text{
    display: flex;
    flex-direction: column;
    width: 85%;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 2%;
}
.footer-info{
    display: flex;
    align-items: center;
    
}

.footer-info > div{
    flex: 1;
}


#SITE-info{
    font-size: 0.8rem;
    width: 60%;
}


#footer-info-1 button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent;
    border-radius: 20px;
    width: 25%;
}

#footer-info-1 div:nth-of-type(2){
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#footer-info-2{
    padding-bottom: 10%;
}

#footer-info-2 div:nth-of-type(1){
   font-size: 0.97rem;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}


.Studypal-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    gap: 20px;  
    padding-left: 10%;             
}

hr{
    border: none;
    height: 2px;
    background-color: black;
}

a {
    text-decoration: none;    
    color: black;          
}

#footer-info-3{
     display: flex;
     align-items: center;
     box-sizing: border-box;
     padding-top: 2%;
}
#footer-info-3 a {
    text-decoration: underline;    
    font-size: 0.7rem;          
}
#footer-info-3 div:nth-of-type(2){
    text-align: right;
}

#a-links-1{
    display: flex;
    gap: 30px;
}
